{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<!-- HERO
	================================================== -->
  <div class="hero">
    <div class="outter">
      <div class="inner">
        <div class="hero-content">
          <div class="container">
              <span class="little">We are Mosby</span>
              <h1 class="subhero-title">Mosby is a global digital agency
                <span>and a startup studio, providing innovative, modern and aesthetic solutions.</span></h1>
          </div>
        </div>
      </div>
    </div>
  </div>


	<!-- TEAM
	================================================== -->
  <section class="teammates atop">
    <div class="container">
      <div class="row">
        <!-- a person-->
        <div class="col-lg-4 team">
          <figure>
            <img src="{% static 'core/img/team-1.jpg' %}" alt="">
            <figcaption>
              <span class="number">01.</span>
              <div class="social-links">
                <a href="#">Fb.</a>
                <a href="#">Tw.</a>
                <a href="#">Ins.</a>
                <a href="#">In.</a>
              </div>
              <h3 class="name">Michelle L. White</h3>
              <span class="job">Co Founder</span>
            </figcaption>
          </figure>
        </div>
        <!-- a person-->
        <div class="col-lg-4 team">
          <figure>
            <img src="{% static 'core/img/team-2.jpg' %}" alt="">
            <figcaption>
              <span class="number">02.</span>
              <div class="social-links">
                <a href="#">Fb.</a>
                <a href="#">Tw.</a>
                <a href="#">Ins.</a>
                <a href="#">In.</a>
              </div>
              <h3 class="name">Teri Chacko</h3>
              <span class="job">Founder</span>
            </figcaption>
          </figure>
        </div>
        <!-- a person-->
        <div class="col-lg-4 team">
          <figure>
            <img src="{% static 'core/img/team-3.jpg' %}" alt="">
            <figcaption>
              <span class="number">03.</span>
              <div class="social-links">
                <a href="#">Fb.</a>
                <a href="#">Tw.</a>
                <a href="#">Ins.</a>
                <a href="#">In.</a>
              </div>
              <h3 class="name">Michael Covington</h3>
              <span class="job">Designer</span>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>


	<!-- SERVICES
  ================================================== -->
  <section class="services padding_120">
    <div class="container">
      <div class="section-title bottom_90">
        <span>Services</span>
        <h2 class="title">We are focused on design and development. <br> We do it with attention to detail.</h2>
      </div>
      <div class="row">
        <!-- a service-->
        <div class="col-lg-4 col-md-6 ser">
          <i class="flaticon flaticon-024-office"></i>
          <h3 class="title">Web Design</h3>
          <p>It’s our design philosophy, and the way we approach our work, our team and our clients.</p>
        </div>
        <!-- a service-->
        <div class="col-lg-4 col-md-6 ser">
          <i class="flaticon flaticon-046-profile"></i>
          <h3 class="title">Branding</h3>
          <p>It’s our design philosophy, and the way we approach our work, our team and our clients.</p>
        </div>
        <!-- a service-->
        <div class="col-lg-4 col-md-6 ser">
          <i class="flaticon flaticon-008-person"></i>
          <h3 class="title">Development</h3>
          <p>It’s our design philosophy, and the way we approach our work, our team and our clients.</p>
        </div>
        <!-- a service-->
        <div class="col-lg-4 col-md-6 ser">
          <i class="flaticon flaticon-030-network"></i>
          <h3 class="title">Network Systems</h3>
          <p>It’s our design philosophy, and the way we approach our work, our team and our clients.</p>
        </div>
        <!-- a service-->
        <div class="col-lg-4 col-md-6 ser">
          <i class="flaticon flaticon-048-bulb"></i>
          <h3 class="title">Brainstroming</h3>
          <p>It’s our design philosophy, and the way we approach our work, our team and our clients.</p>
        </div>
        <!-- a service-->
        <div class="col-lg-4 col-md-6 ser">
          <i class="flaticon flaticon-018-laptop"></i>
          <h3 class="title">Premium Support</h3>
          <p>It’s our design philosophy, and the way we approach our work, our team and our clients.</p>
        </div>
      </div>
    </div> <!-- container end -->
  </section>

	<!-- CLIENTS
  ================================================== -->
  <section class="clients bottom_120">
    <div class="container">
        <div class="section-title bottom_90">
          <span>Services</span>
          <h2 class="title">Our clients are our partners. We have implemented <br>projects from more than 10 countries.</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 client"><img src="{% static 'core/img/clients/client-1.jpg' %}" alt="" /></div>
          <div class="col-lg-3 col-md-6 client"><img src="{% static 'core/img/clients/client-2.jpg' %}" alt="" /></div>
          <div class="col-lg-3 col-md-6 client"><img src="{% static 'core/img/clients/client-3.jpg' %}" alt="" /></div>
          <div class="col-lg-3 col-md-6 client"><img src="{% static 'core/img/clients/client-4.jpg' %}" alt="" /></div>
          <div class="col-lg-3 col-md-6 client"><img src="{% static 'core/img/clients/client-5.jpg' %}" alt="" /></div>
          <div class="col-lg-3 col-md-6 client"><img src="{% static 'core/img/clients/client-6.jpg' %}" alt="" /></div>
          <div class="col-lg-3 col-md-6 client"><img src="{% static 'core/img/clients/client-7.jpg' %}" alt="" /></div>
          <div class="col-lg-3 col-md-6 client"><img src="{% static 'core/img/clients/client-8.jpg' %}" alt="" /></div>
        </div>

    </div>
  </section>
{% endblock %}